@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>For continue click on <a href="~/HelloWorld/Index"><b>"Hello, User!"</b></a>.</p>
</div>
